.header-icon-button-search,
.header-icon-button-luxiang,
.header-icon-button-luyin,
.header-icon-button-app,
.header-icon-button-tongzhi,
.header-icon-button-selfphoto{
  background-color:white;
  border:none;
  cursor:pointer;
}