/* .image1{

  width:300px; 
  height:300px;
  object-fit : contain; 
  object-position:left; 

  object-position:right;
  border-width:2px;
  border-style:solid;
  border-color:red;
  
}   */

.image{
  width:300px; /*宽度会随着i一起变化 ，以保证图片的尺寸不发生变化 */
  display:inline-block;
}

.author-image{
  border-radius:100%;
  width:45px;

}


