.left-object{
  width:40px;
  
  
}
.left{
  /* position: sticky;
  left: 0; 
   z-index: 10; /* 防止被其他元素遮挡 */
   position:fixed; /*置顶*/
   margin-left:0px;
   margin:0px;
   background-color:gray;
  

   
}

.left-object-p{
 

  font-family:Arial;

}
.left-object-imgAndp{
    font-size: 10px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top:30px;
 
}