/*可以使页面看得更好，适合各种各样尺寸的屏幕*/

@media(max-width:750px){
  .main{
    grid-template-columns:1fr 1fr;
  }

  .body{
    grid-template-columns:1fr 1fr;
  }

  .lefteAndmain{
    grid-template-columns:1fr 1fr;
  }
}

@media(min-width:1000px){
  .main{
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
  .all{
    grid-template-columns:1fr 1fr 1fr 1fr;
  }

  .lefteAndmain{
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
}


@media (min-width: 1000px) {
  .body {
    flex-direction: row;
    justify-content: space-between;
  }
}
